hr{
    width: 0;
    border-color: rgb(255,225,53);
    border-width: 7px;
    margin-bottom: 20px;
}
h5,h6{
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 18px;
}
h6{
    font-size: 16px;
}
.aboutMeImage{
    border-radius: 50%;
    width: 40vw;
    height: auto;
}
.sideBar{
    background:rgb(255,255,153);
}
.navbar li{
    color: rgb(189,183,107);
}
.aboutIntroRow{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
}
.profileText{
    display: flex;
    align-items: center;
    height: 100%;
}
.col-xs-10{
    display: block;
    text-align: center;
}
.about-intro{
    margin-top: 18vh;
}
@media (max-width:768px){
    .sideBar{
        background: none;
    }
    .navbar-toggle{
        float: left;
    }
    .navbar li{
        position: relative;
        color: rgb(189,183,107);
        transform: rotate(90deg);
        margin-top: 30px;
        padding-bottom: 0px;
    }
    
}