hr{
    width: 0;
    border-color: rgb(255,225,53);
    border-width: 7px;
    margin-bottom: 20px;
}
h5,h6{
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 18px;
}
h6{
    font-size: 16px;
}
.aboutMeImage{
    border-radius: 50%;
    width: 40vw;
    height: auto;
}
.sideBar{
    background:rgb(255,255,153);
}
.navbar li{
    color: rgb(189,183,107);
}
.aboutIntroRow{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 50px;
}
.profileText{
    display: flex;
    align-items: center;
    height: 100%;
}
.col-xs-10{
    display: block;
    text-align: center;
}
.about-intro{
    margin-top: 18vh;
}
.mini-menu-btn{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px; 
    background-color: rgba(147,147,147,0.7);
}
.mini-menu-btn:hover{
    transform: rotate(45deg);
}
.mini-menu-btn:hover span{
    transform: rotate(-45deg);
    color: white;
}
.mini-menu-home:hover span{
    transform: rotate(-45deg);
    color: black;
}
.portfolio_btn:hover{
    background-color: rgba(241,133,0,0.9);
}
.skills_btn:hover{
    background-color:rgba(248,77,103,0.9);
}
.contact_btn:hover{
    background-color: rgba(91, 118, 3, 0.9);
}
.about_btn:hover{
    background-color: rgba(243,216,77,0.9);
}
.home_btn:hover{
    background-color: white;
}
@media (max-width:768px){
    .sideBar{
        background: none;
    }
    .navbar-toggle{
        float: left;
    }
    .navbar li{
        position: relative;
        color: rgb(189,183,107);
        transform: rotate(90deg);
        margin-top: 30px;
        padding-bottom: 0px;
    }
    
}